<% if user_signed_in? %>
<p>您好 <%= current_user.email %></p>

<% end %>
<td></td>

<td></td>
<td></td>
<td></td>
        
<div class="panel panel-primary" style="width:90%;">
  <div class="panel-heading">
		<h2><%= @post.title %></h2>
		<h4>出發日期: 
			<% if(@post.start_date.nil?) %>
				<%= "可隨選時間" %>
			<% else %>
				<%= @post.start_date %>
			<% end %>
		</h4>
    <small><span class="glyphicon glyphicon-pencil"></span> 作者: 站長<% @post.owner.email %></small>
  </div>
  <div class="panel-body">
    <div style="width:50%;float:left;">
      <% unless @pictures.empty? %>
        <% @pictures.each do |pic| %>
        <%=link_to(image_tag(pic.photo.url(:medium)), pic.photo.url, :'data-lightbox' => pic.photo.url) %>
        <% end %>
      <% end %>
    </div>
    <div style="width:50%;float:left;">
      <%= simple_format(@post.content) %>
    </div>
  </div>
  <div class="panel-footer">
    <small>最後更新時間:<%= @post.updated_at.localtime.strftime('%F %H:%M:%S') %></small>
  </div>
</div>
        
<% if user_signed_in? %>
  <div class="panel panel-info" style="width:40%;">
    <div class="panel-heading" onclick="new_comment();">
      <h3 class="panel-title">新增留言</h3>
    </div>
    <div class="panel-body" id="new_comment" style="display:none;">
      <%= form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%= f.label :commenter, "姓名" %>
        <%= f.text_field :commenter, :class => 'form-control' %>
      </p>
      <p>
        <%= f.label :content, "內容" %>
        <%= f.text_area :content, :class => 'form-control', :rows => '3' %>
      </p>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <p>
        <%= f.submit :class => "btn btn-default", :value => "送出" %>
      </p>
      <% end %>
    </div>
  </div>
<% else %>
  <%= link_to "登入新增留言", new_user_session_path, :class=> "btn btn-success" %>
<% end %>

<h4>留言</h4>

<% @post.comments.order('updated_at DESC').each do |comment| %>
  <div class="panel panel-default" style="width:40%;">
    <div class="panel-heading">
      <h3 class="panel-title">姓名：<%= comment.commenter %></h3>
      <% if can? :manage, @post %>
        <small><span class="glyphicon glyphicon-pencil"></span> 作者:<%= comment_user(comment.user_id) %></small>
      <% end %>
    </div>
    <div class="panel-body">
      <%= simple_format(comment.content) %>
    </div>
    <div class="panel-footer">
      <small style="color:#555;font-size:x-small;">時間:<%= comment.updated_at.localtime.strftime('%F %H:%M:%S') %></small>
    </div>
  </div>
<% end %>

<hr/>
<%= link_to "上一頁", posts_path, :class => "btn btn-default" %>
