<% if user_signed_in? %>
<p>hello <%= current_user.username %></p>

<% end %>
<table class="table">
  <thead>
    <tr>
      <td>Title</td>
      <td>Content</td>
      <td>Author</td>
      <td>Update Time</td>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @post.content %></td>
        <td><%= @owner %></td>
        <td><%= @post.updated_at %></td>
      </tr>
  </tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
